body {
    color: #ffff;
    background: #000000
    text-align: center;
}
.txt0 {
    text-align: center
}
.txt1 {
    text-align: center
}
a {
    color: #808080;
}
img {
    text-align: center
    width: 300px;
    heigh: 100px;
}
