body {
    color: #3d5d2b;
    background: #fdfd96
    
}
.txt0 {
    text-align: center;
    padding: 0px 400px;
}
.txt1 {
    text-align: center;
    padding: 0px 400px;
}
a {
    color: #006400;
}
img {
    text-align: center;
    width: 300px;
    heigh: 100px;
}